html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root{
    --primary-color: #ffffff;
    --primary-color2: #383839;

    /* Font Families */
    --realheadpro: 'RealHeadPro-Medium';
}
